.container{
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #100F0F;
    background-color: #37332D;
}

.titulo {
    font-family: "Marcellus", serif;
    color: #F2F3EE;
    font-size: 50px;
}