.container{
    /* margin-top: 20vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #100F0F;
    background-color: #37332D;
}

.titulo {
    font-family: "Marcellus", serif;
    color: #F2F3EE;
    font-size: 50px;
}

/* .boton {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    text-align: center;
    height: 2rem;
    width: 6rem;
    padding: 2px;
    margin-bottom: 2vh;
    margin-top: 3vh;
    margin-left: 2vh;
    margin-right: 20px;
    border: solid black 1px;
    background-color: #A79F92;
    color: white;
    text-decoration: none;
    font-size: large;
    font-family: "Marcellus", serif;
    font-family: "Geist", serif;
}

.boton:active{
    transform: scale(0.90);
} */



/* ---- MEDIA QUERIES ---- */
@media(width <= 1625px){
    .container{
        padding: 20px;
    }
}
@media(width <= 645px){
    .container{
        padding: 10px;
    }
    .titulo{
        text-align: center;
        font-size: 40px;
    }
}