.container{
    /* margin-top: 10vh; */
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #100F0F; */
    background-color:  #A79F92;;

}

.titulo {
    font-family: "Marcellus", serif;
    color: #F2F3EE;
}