.container{
    /* margin-top: 20vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #100F0F;
    background-color: #37332D;
}

.titulo {
    font-family: "Marcellus", serif;
    color: #F2F3EE;
    font-size: 50px;
}



/* ---- MEDIA QUERIES ---- */
@media(width <= 1625px){
    .container{
        padding: 20px;
    }
}
@media(width <= 645px){
    .container{
        padding: 10px;
    }
    .titulo{
        text-align: center;
        font-size: 40px;
    }
}