.container {
    display: flex;
    border: solid blue;
    width: 100vw;
    height: 80vh;
    /* Altura del contenedor */
    background: linear-gradient(to left, #A79F92 100%, brown 10%);
    background-size: 80% 90%;
    /* Ajusta el alto del fondo al 80% del contenedor */
    background-repeat: no-repeat;
    background-position: 100% 0%;
    /* Evita que el fondo se repita */
}

.img {
    width: 20vw;
    height: 30vh;
    padding: 10px;
}

.reverse {
    flex-direction: row-reverse;
}

.text {
    /* border: solid salmon; */
    padding-left: 1vw;
    font-family: "Geist", serif;
}