.container {
    /* border: solid green; */
    width: 100vw;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/images/navbar-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient();
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.titulo {
    color: #37332D;
    text-align: center;
    font-size: 50px;
    font-family: "Marcellus", serif;
}

.text{
    font-weight: 350;
}

.grandContainer {
    /* border: solid greenyellow; */
    width: 80vw;
    display: flex;
    flex-direction: column;
    font-family: "Geist", serif;
    text-align: justify;
}

.contenedor1 {
    /* border: solid violet; */
    align-self: end;
    width: 50vw;
    height: 28rem;
    padding-right: 50px;
}

.contenedor2 {
    /* border: solid yellow; */
    align-self: start;
    width: 50vw;
    height: 28rem;
    padding-left: 50px;

}


/* ---- MEDIA QUERIES ---- */

@media(width <=1350px) {
    .contenedor1 {
        font-size: 12px;
    }

    .contenedor2 {
        font-size: 12px;
    }
}

@media (width < 1000px) {
    .titulo {
        font-size: 40px;
    }
    .text{
        font-size: 20px;
    }
}

@media(width <=750px) {
    .container {
        height: fit-content;
    }

    .grandContainer {
        height: fit-content;
    }

    .contenedor1 {
        font-size: 10px;
        width: 70vw;
    }

    .contenedor2 {
        font-size: 10px;
        width: 70vw;
    }
}

@media(width< 700px){
    .titulo{
        font-size: 35px;
        text-align: center;
    }
}

@media(width <=420px) {
    .titulo {
        font-size: 28px;
    }

    .contenedor1 {
        font-size: 9px;
        padding-right: 5px;
        height: fit-content;
    }

    .contenedor2 {
        font-size: 9px;
        padding-left: 5px;
        height: fit-content;
    }
}