.itemDetailContainer {
    margin-top: 2vh;
    font-family: "Geist", serif;
    /* border: solid yellow; */
}



/* ---- MEDIA QUERIES ---- */

@media(width < 700px){
    .itemDetailContainer{
        margin-top: 15vh;
    }
}

@media(width < 500px){
    .itemDetailContainer{
        margin-top: 10vh;
    }
}