.itemDetailContainer {
    margin-top: 2vh;
    font-family: "Geist", serif;
    /* border: solid yellow; */
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 2rem;
    width: 6rem;
    padding: 3px;
    margin-bottom: 2vh;
    margin-left: 2vh;
    margin-right: 20px;
    border: solid black 1px;
    background-color: #A79F92;
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-family: "Marcellus", serif;
    font-family: "Geist", serif;
}

.boton:active{
    transform: scale(0.90);
}