.container{
    /* border: solid orange 4px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Marcellus", serif;
    background-color: #F2F3EE;
}

.titulo {
    font-size: 50px;
    color: #100F0F;
    margin-top: 50px;
}

/* ---- MEDIA QUEREIS ---- */

@media (width < 1000px) {
    .titulo {
        font-size: 40px;
    }
}

@media(width< 700px){
    .titulo{
        font-size: 35px;
        text-align: center;
    }
}

@media(width < 510px){
    .titulo{
        font-size: 30px;
        text-align: center;
    }
}

@media(width < 420px){
    .titulo{
        font-size: 28px;
    }
}