/* .container{
    margin-top: 40vh;
} */

.img {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 30rem;
    /* border: solid red; */
    background-image: url("/images/itemListImg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-size: 50px;
    font-family: "Marcellus", serif;
}

.sortButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 120px;
    padding: 1px;
    margin-top: 2rem;
    margin-bottom: 1vh;
    margin-left: 3vw;
    border: solid black 1px;
    border-radius: 3%;
    background-color: #A79F92;
    color: white;
    text-decoration: none;
    font-size: large;
    font-family: "Geist", serif;
}

.sortButton:active {
    transform: scale(0.90);
}


/* ---- MEDIA QUERIES ---- */

@media(width < 800px){
    .titulo{
        font-size: 40px;
        text-align: center;
        align-self: center;

    }
}


@media(width < 300px){
    .titulo{
        font-size: 30px;
        text-align: center;
        align-self: center;

    }
}