.img {
    background-size: cover;
    background-position: center;
}

.links {
    /* border: solid 1px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    color: black;
    font-weight: bold;
    font-size: 23px;
    text-decoration: none;
    font-family: "Geist", serif;
    font-family: "Marcellus", serif;
    height: 15rem;
    width: 25rem;
    background-size: cover;
    opacity: .45;
    background-position: center;
    transition: .25s;

}

.links:hover {
    color: #ffffff;
    font-size: 23px;
    opacity: 1;
    transform: scale(1.10);
}
/* color: #F2F3EE; *
/* background-color: #37332D; */
/* background-color: #A79F92;  */

/* ---- MEDIA QUERIES ---- */
@media (width <=899px) {
    .links {
        width: 12rem;
        height: 8rem;
        font-size: large;
        text-align: center;
    }

    .links:hover {
        font-size: large;
    }
}

@media (width <=460px) {
    .links {
        width: 24rem;
        height: 12rem;
    }

    .links:hover {
        font-size: large;
    }
}

@media (width <=416px) {
    .links {
        width: 20rem;
        height: 10rem;
    }

    .links:hover {
        font-size: large;
    }
}