.links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    border: solid 1px;
    color: inherit;
    font-size: xx-large;
    text-decoration: none;
    font-family: "Geist", serif;

    height: 20vh;
    width: 25vw;
}

.links:hover {
    background-color: #0056b3; /* Nuevo color de fondo al pasar el mouse */
    transform: scale(1.05); /* Agranda el boton un poco */
}