.img {
    background-size: cover;
    background-position: center;
}

.links {
    /* border: solid 1px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    color: inherit;
    font-size: x-large;
    text-decoration: none;
    font-family: "Geist", serif;
    font-family: "Marcellus", serif;
    height: 15rem;
    width: 25rem;
    background-size: cover;
    background-position: center;

}

.links:hover {
    color: #F2F3EE;
    font-size: xx-large;

    transform: scale(1.05);
}
/* color: #F2F3EE; *
/* background-color: #37332D; */
/* background-color: #A79F92;  */

/* ---- MEDIA QUERIES ---- */
@media (width <=899px) {
    .links {
        width: 12rem;
        height: 8rem;
        font-size: large;
        text-align: center;
    }

    .links:hover {
        font-size: large;
    }
}

@media (width <=460px) {
    .links {
        width: 10rem;
        height: 6rem;
    }

    .links:hover {
        font-size: large;
    }
}

@media (width <=416px) {
    .links {
        width: 15rem;
        height: 8rem;
    }

    .links:hover {
        font-size: large;
    }
}