.menuContainer {
    position: relative;
    display: inline-block;
    margin: 0;
}
.menuContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
    font-size: x-large;
    font-family: "Marcellus", serif;
}

.menuContent a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menuContent a:hover {
    background-color: #A79F92;
    color: white;
    /* border: solid black 1px; */
}

.menuContainer:hover .menuContent {
    display: block;
}

.link{
    padding-right: 10px;
    margin-right: 0;
    width: 7vw;
    width: 120px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #37332D;
    text-decoration: none;
    font-size: x-large;
    font-family: "Marcellus", serif;
}

.link:hover{
    background-color: #A79F92;
    color: #37332D;
}


/* ---- MEDIA QUERIES  ---- */

@media (max-width: 700px){
    .link{
        height: 80px;
    }
}