.card {
    border: solid 1px #100F0F;
    height: 30rem;
    width: 25rem;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: #F2F3EE;
    background-color: #37332D;


    /* flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 600px;
    height: 600px; */
}

.cardImg {
    height: 300px;
    width: 25rem;
}

.button{
    text-decoration: none;
    border: solid 1px #F2F3EE;
    color: #F2F3EE;
    font-size: medium;
    margin-top: 15px;
    padding: 10px;

}









/* Media query para pantallas medianas */
@media (max-width: 1024px) {
    .card {
        flex: 1 1 calc(33.33% - 20px);
        /* 3 cards por fila en pantallas medianas */
    }
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px);
        /* 2 cards por fila en pantallas pequeñas */
    }
}

/* Media query para pantallas muy pequeñas */
@media (max-width: 480px) {
    .card {
        flex: 1 1 100%;
        /* 1 card por fila en pantallas muy pequeñas */
    }
}