.container {
    /* border: solid blue 1px; */
    width: 55rem;
    height: 50rem;
    background-color: #37332D;
    color: #F2F3EE;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    font-family: "Geist", serif;
    position: relative;
}

.nameContainer {
    /* border: solid rgb(0, 255, 4) 1px; */
    height: 15rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
}

.name {
    text-decoration: none;

}

.line {
    height: 1px;
    color: #F2F3EE;
    background-color: #F2F3EE;
    font-size: 18px;
    width: 100%;
}

.descriptions {
    /* border: solid red; */
    width: 30rem;
    margin-top: 20px;
    font-family: "Geist", serif;
}

.description {
    text-align: justify;
    color: #F2F3EE;
    font-family: "Geist", serif;
    font-size: 18px;
}


.linkText {
    color: #F2F3EE;
    font-size: 18px;
}


.linksContainer {
    /* border: solid blue; */
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 2rem;
    width: 6rem;
    padding: 10px;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 20px;
    border: solid #F2F3EE 1px;
    text-decoration: none;
    font-size: medium;
    font-family: "Marcellus", serif;
    color: #F2F3EE;
}

.boton:active {
    transform: scale(0.99);
}

.waterMark {
    height: 90px;
    width: 100px;
    position: absolute;
    bottom: 2%;
    left: 87%;
    opacity: 0.5;
}



/* ---- MEDIA QUERIES ---- */

@media(width <=1550px) {
    .container {
        height: 45rem;
    }
}

@media(width < 1450px) {
    .waterMark {
        left: 84%;
    }
}

@media(width < 1400px) {
    .container {
        height: 40rem;
    }
}


@media(width <=1200px) {
    .container {
        width: 600px;
        height: 40rem;
        align-items: start;
        justify-content: space-between;
    }

    .descriptions {
        height: fit-content;
    }

    .link {
        width: 100px;
        height: 30px;
    }

    .linkText {
        font-size: 16px;
    }

    .waterMark {
        height: 70px;
        width: 80px;

    }
}


@media (width <=700px) {
    .container {
        width: 26rem;
    }

    .nameContainer {
        width: 20rem;
        height: 8rem;
        margin-top: 2rem;
    }

    .name {
        font-size: x-large;
    }

    .descriptions {
        width: 20rem;
        font-size: medium;
    }

    .waterMark {
        height: 55px;
        width: 60px;
    }
}

@media(width <=500px) {
    .container {
        height: 600px;
        justify-content: start;
    }

    .name {
        font-size: large;
    }

    .description {
        font-size: small;
    }

    h3 {
        font-size: medium;
    }

    .waterMark {
        height: 45px;
        width: 50px;
    }
}

@media(width < 450px) {
    .waterMark {
        left: 80%;
    }
}

@media(width <=430px) {
    .container {
        width: 100vw;
        padding-left: 5rem;
    }

    .nameContainer {
        width: 15rem;
    }

    .descriptions {
        width: 15rem;
    }

    .linksContainer {
        display: flex;
        flex-direction: column;
    }

    .waterMark {
        left: 75%;
    }
}

@media(width < 330px) {
    .waterMark {
        height: 42px;
        width: 45px;
        left: 72%;
    }
}