.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 185px;
    position: absolute;
    top: 20;
    left: 0;
    width: 100%;
    z-index: 10; /* Asegura que esté por encima de la imagen */
    background-color: transparent; /* Hace el fondo transparente */
}

.logo {
    width: 382px;
    height: 110px;
    padding: 30px;
    margin-left: 20px;
    cursor: pointer;
    /* background-color: #37332D; */
    /* color: #37332D; */
}

.section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    margin-right: 12vw;
    height: 5vh;
    /* color: #37332D; */
    /* background-color: #37332D; */
}

.link {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 7vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /* color: white; */
    color: #37332D;
    text-decoration: none;
    font-size: x-large;
    font-family: "Marcellus", serif;
}

.link:hover {
    background-color: #A79F92;
    color: #37332D;
}

.comoComprarButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 200px;
    padding: 3px;
    margin-right: 5vw;
    background-color: #A79F92;
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-family: "Marcellus", serif;
}

.comoComprarButton:active {
    transform: scale(0.95);
}