.title{
    color: red;
}

.nav{
    border: solid orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section{
    width: 50%;
    border: solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}