.videoContainer {
    height: 100vh;
    width: 100vw;
    height: 55rem;
    height: fit-content;
    /* margin-top: 10vh; */
    /* margin-bottom: 10vh; */
    /* border: dotted violet; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.video{
    /* border: solid black 5px; */
    width: 100vw;
    /* height: 100vh; */
    height: 55rem;
}

@media (width <= 1000px){
    .videoContainer{
        height: 40rem;
    }
    .video{
        height: 40rem;
    }
}