.videoContainer {
    /* border: dotted violet; */
    height: 100vh;
    width: 100vw;
    height: 55rem;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video {
    /* border: solid greenyellow 5px; */
    width: 100vw;
    height: 55rem;
}


/* ---- MEDIA QUERIES ---- */
@media (width <=1000px) {
    .videoContainer {
        height: 40rem;
    }

    .video {
        height: 40rem;
    }
}