.container {
    border: dotted green;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30vw;
    height: fit-content;
}

.listaHorarios {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-items: center;
    border: solid;
    padding: 15px;
    width: 20vw;
}

.listaTelMail {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: center;
    border: solid;
    padding: 15px;
    width: 20vw;

}