.container {
    background-color: #100F0F;
    color: #F2F3EE;
    /* width: 40vw; */
    width: 48rem;
    /* height: 100vh; */
    height: 58rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    /* font-family: "Geist", serif; */
    font-family: "Marcellus", serif;
    position: relative;
}

.img{
    /* width: 25vw; */
    width: 30rem;
    /* height: 40vh; */
    height: 24rem;
    position: absolute;
    top: 30%;
    left: 25%;
    z-index: 5;
}

.listaHorarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 15px;
    /* width: 20vw; */
    width: 20rem;
    z-index: 10;
}

.listaTelMail {
    margin-top: 15;
    /* width: 20vw; */
    width: 20rem;
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    z-index: 10;
}