.container {
    width: 110rem;
    height: fit-content;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.enviosContainer,
.ambienteContainer,
.garantiaContainer {
    border-top: solid 1px #100F0F;
    width: 110rem;
    height: 50rem;
    font-family: "Geist", serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.infoContainer {
    height: 100%;
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: center;
    border: solid salmon 1px;
}

.titulo {
    color: #100F0F;
    font-family: "Geist", serif;
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
}

p {
    color: #100F0F;
    font-size: 25px;
    font-weight: 400;
}

span {
    font-weight: bold;
}

.img {
    height: 500px;
    width: 600px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: solid violet 1px;
}

.img1 {
    background-color: #A79F92;
}

.img2 {
    background-color: #37332D;
}

.img3 {
    background-color: #100F0F;
}

.ambienteContainer{
    border: solid green 1px;
}
.enviosContainer{
    border: solid red 1px;
}
.garantiaContainer{
    border: solid blue 1px;
}


/* ---- MEDIA QUERIES ---- */

@media(width < 1815px) {
    .container {
        width: 90rem;
    }

    .enviosContainer,
    .ambienteContainer,
    .garantiaContainer {
        width: 90rem;
    }

    .titulo {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }
}

@media(width < 1500px) {
    .container {
        width: 70rem;
    }

    .enviosContainer,
    .ambienteContainer,
    .garantiaContainer {
        width: 70rem;
        height: 40rem;
    }

    .img {
        height: 300px;
        width: 400px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media(width < 1150px) {
    .container {
        width: 60rem;
    }

    .enviosContainer,
    .ambienteContainer,
    .garantiaContainer {
        width: 60rem;
        height: 50rem;
    }
}

@media(width < 1025px) {
    .container {
        width: 50rem;
    }

    .enviosContainer,
    .ambienteContainer,
    .garantiaContainer {
        width: 50rem;
        height: 50rem;
    }

    .infoContainer {
        justify-content: space-evenly;
    }

    .titulo {
        font-size: 20px;
        text-align: center;
    }

    p {
        font-size: 18px;
    }

    .img {
        height: 300px;
        width: 400px;
        margin-left: 20px;
        margin-right: 20px;

    }
}

@media(width < 850px) {
    .container {
        width: 40rem;
    }

    .enviosContainer,
    .ambienteContainer,
    .garantiaContainer {
        flex-direction: column;
        width: 40rem;
        height: fit-content;
    }

    .infoContainer {
        width: 40rem;
    }

    /* .titulo {
        font-size: 30px;
    } */

    p {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .img {
        height: 350px;
        width: 400px;
    }
}

@media(width < 675px) {
    .container {
        width: 30rem;
    }

    .enviosContainer,
    .ambienteContainer,
    .garantiaContainer {
        width: 30rem;
        /* height: 60rem; */
    }

    .infoContainer {
        width: 30rem;
    }
}

@media(width < 520px) {
    .container {
        width: 25rem;
    }

    .enviosContainer,
    .ambienteContainer,
    .garantiaContainer {
        width: 25rem;
        /* height: 50rem; */
    }

    .infoContainer {
        width: 25rem;
    }

    /* .titulo {
        font-size: 25px;
    } */

    .img {
        height: 250px;
        width: 300px;
    }
}

@media(width < 420px) {
    .container {
        width: 20rem;
    }

    .enviosContainer,
    .ambienteContainer,
    .garantiaContainer {
        width: 20rem;
        height: 60rem;
    }

    .infoContainer {
        width: 20rem;
        height: fit-content;
        /* height: 40rem; */
    }

    .titulo {
        font-size: 20px;
    }

    .img {
        height: 200px;
        width: 250px;
    }
}

@media(width < 350px) {
    .container {
        width: 16rem;
    }

    .enviosContainer,
    .ambienteContainer,
    .garantiaContainer {
        width: 16rem;
        /* height: 70rem; */
        height: fit-content;
    }

    .infoContainer {
        width: 16rem;
        /* height: 50rem; */
        height: fit-content;
    }

    .titulo {
        font-size: 20px;
    }

    .img {
        height: 10rem;
        width: 12rem;
    }
}