.container {
    background-color: #37332D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 58rem;
}

@media (width <=1000px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
    }
}