.homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-family: "Marcellus", serif;
    font-size: 50px;
    color: #100F0F;
}

.subTitulo {
    font-family: "Marcellus", serif;
    font-size: 40px;
    color: #100F0F;
    margin-top: 0;
}