.navigateButton {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    text-align: center;
    height: 2rem;
    width: 6rem;
    padding: 2px;
    /* margin-bottom: 2vh; */
    /* margin-top: 3vh; */
    margin-left: 2vh;
    border: solid black 1px;
    background-color: #A79F92;
    /* border-radius: 7%; */
    color: white;
    text-decoration: none;
    font-size: large;
    font-family: "Geist", serif;
    font-family: "Marcellus", serif;
}

.navigateButton:active{
    transform: scale(0.90);
}