.navigateButton {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    text-align: center;
    height: 2rem;
    width: 6rem;
    padding: 2px;
    margin-left: 2vh;
    border: solid #A79F92 1px;
    background-color: #A79F92;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: "Geist", serif;
    font-family: "Marcellus", serif;
    transition: .25s;
}

.navigateButton:hover{
    background-color: #868076;
}

.navigateButton:active{
    transform: scale(0.90);
}